@import url("https://fonts.googleapis.com/css?family=Open+Sans|Righteous&display=swap");
* {
  margin: 0;
  padding: 0;
  line-height: 1.5;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

header {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
  grid-area: header;
  height: 70px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row nowrap;
          flex-flow: row nowrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  background-color: #18182b;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: white;
  padding-left: 20pt;
}

header nav ul {
  list-style-type: none;
  padding: 0 8pt;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

header nav ul li {
  display: none;
}

header nav ul li a {
  color: white;
  text-decoration: none;
}

@media only screen and (min-width: 768px) {
  header nav ul {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
  header nav ul li {
    display: inline-block;
    margin: 0 5pt;
    padding: 5pt;
    text-transform: uppercase;
    font-weight: bold;
    border-radius: 1em;
    border: 2px solid #18182b;
  }
  header nav ul li:hover {
    border: 2px solid white;
  }
}

@media only screen and (min-width: 768px) {
  header nav .menu-button {
    display: none;
  }
}

header a {
  color: white;
  text-decoration: none;
}

footer {
  -ms-grid-row: 5;
  -ms-grid-column: 1;
  grid-area: footer;
  background-color: burlywood;
  height: 40pt;
  line-height: 40pt;
  text-align: right;
  padding-right: 20pt;
}

#wrapper {
  min-height: 100vh;
  display: -ms-grid;
  display: grid;
  gap: 0;
      grid-template-areas: "header" "cover" "aside" "content" "footer";
}

@media only screen and (min-width: 1280px) {
  #wrapper {
        grid-template-areas: "header header" "aside  cover" "aside  content" "footer footer";
  }
}

.cover {
  background: url("https://images.pexels.com/photos/1438489/pexels-photo-1438489.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260") no-repeat center center fixed;
  background-size: cover;
  width: 100%;
  height: 100%;
}

.cover hr {
  min-width: 60%;
  border: 2px solid black;
}

html {
  font-size: 10pt;
}

@media only screen and (min-width: 768px) {
  html {
    font-size: 11pt;
  }
}

@media only screen and (min-width: 1024px) {
  html {
    font-size: 12pt;
  }
}

body {
  background-color: aqua;
  font-family: 'Open Sans', cursive;
}

h1 {
  font-family: Righteous, monospace;
  font-weight: 400;
  text-transform: uppercase;
  color: black;
}

h2 {
  height: 37.5pt;
  line-height: 37.5pt;
  text-align: center;
  background-color: #00b100;
}

h3 {
  padding: 10pt;
  border-bottom: 1px dashed black;
}

p {
  padding: 10pt;
  text-align: justify;
}

.fa-heart {
  color: red;
}

.cover {
  padding: 20pt 5pt;
  color: white;
  min-height: calc(50vh - 70px);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.cover-news {
  padding: 2vh;
  font-size: 1.2em;
}

.btn-cover {
  margin-top: 2vh;
  padding: 1rem 2rem;
  border: 1px solid black;
  border-radius: 25px;
  font-weight: bold;
  text-transform: uppercase;
  background-color: #18182b;
  color: white;
}

.btn-cover:hover {
  background-color: #7676b3;
  color: black;
}

.logo_symbol {
  color: red;
  text-shadow: -2px -2px 0 white, 2px -2px 0 white, -2px 1px 0 white, 2px 2px 0 white;
}

.logo_item--primary {
  padding: 2pt 2pt 2pt 2pt;
  background-color: white;
  color: black;
  border-color: white;
  border-width: 2px;
  border-style: solid;
  border-top-left-radius: .5em;
  border-bottom-left-radius: .5em;
}

.logo_item--secondary {
  padding: 2pt;
  color: white;
  border-color: white;
  border-width: 2px;
  border-style: solid;
  border-top-right-radius: .5em;
  border-bottom-right-radius: .5em;
}

#content {
  -ms-grid-row: 4;
  -ms-grid-column: 1;
  grid-area: content;
  background-color: darkgreen;
  min-height: calc(50vh - 40pt);
}

.grid {
  -ms-grid-columns: (minmax(255pt, 1fr))[auto-fit];
      grid-template-columns: repeat(auto-fit, minmax(255pt, 1fr));
  grid-auto-rows: 1fr;
  display: -ms-grid;
  display: grid;
  background-color: bisque;
}

.grid-box {
  margin: 20pt;
  padding: 10pt;
  text-align: center;
  background-color: rgba(204, 221, 204, 0.6);
  border-radius: 30px;
  border: 1px solid black;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}

.grid-box .fa {
  vertical-align: middle;
}

.grid-box:hover {
  -webkit-transform: scale(1.06);
          transform: scale(1.06);
  background-color: white;
}

.grid-box .grid-box-icon {
  font-size: 4rem;
}

.grid-box-small {
  padding: 5pt;
}

.grid-box-small:hover {
  background-color: darkorange;
}

.grid-box-small .grid-box-icon-small {
  font-size: 2rem;
  padding: 0 0 10pt 10pt;
  border-bottom: 1px dashed black;
  text-align: left;
  text-transform: uppercase;
}

.grid-box-small .grid-box-label-small {
  font-size: 1.8rem;
}

.aside {
  background-color: #18182b;
  -ms-grid-row: 3;
  -ms-grid-column: 1;
  grid-area: aside;
  min-width: 100%;
}

.aside h2 {
  background-color: #ffaf4d;
}

@media only screen and (min-width: 1280px) {
  .aside .grid {
    -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
  }
}

@media only screen and (min-width: 1280px) {
  .aside {
    width: 20vw;
    min-height: calc(100vh - 40pt - 70px);
  }
}

#menu-checkbox {
  display: none;
}
/*# sourceMappingURL=style.css.map */