@import url('https://fonts.googleapis.com/css?family=Open+Sans|Righteous&display=swap');

body {
    font-family: 'Open Sans', cursive;
    font-size: 12pt;
}

p {
    text-align: justify;
}

@mixin title-typography {
    font-family: Righteous, monospace;
    font-weight: 400;
    text-transform: uppercase;
}