@import 'variables';
@import 'normalize';
@import 'colors';
@import 'layout';
@import 'typography';

.cover {
    padding: 20pt 5pt;
    color: $primary;
    min-height: calc(50vh - #{$header-height});
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.cover-news {
  padding: 2vh;
  font-size: 1.2em;
}

.btn-cover {
    margin-top: 2vh;
    padding: 1rem 2rem;
    border: 1px solid $secondary;
    border-radius: 25px;
    font-weight: bold;
    text-transform: uppercase;
    background-color: $color1;
    color: $primary;

    &:hover {
        background-color: lighten($color1, 45%);
        color: $secondary;
    }
}

// Logo symbol (heart) settings
.logo_symbol {
    color: red;
    text-shadow: textOverline($primary);
}

// First part of logo text settings
.logo_item--primary {
    padding: 2pt 2pt 2pt 2pt;
    background-color: $primary;
    color: $secondary;
    border-color: $primary;
    border-width: 2px;
    border-style: solid;
    border-top-left-radius: .5em;
    border-bottom-left-radius: .5em;
}

// Second part of logo text settings
.logo_item--secondary {
    padding: 2pt;
    color: $primary;
    border-color: $primary;
    border-width: 2px;
    border-style: solid;
    border-top-right-radius: .5em;
    border-bottom-right-radius: .5em;
}

#content {
    grid-area: content;
    background-color: $color2;
    min-height: calc(50vh - #{$footer-height} );
}

.grid {
    grid-template-columns: repeat(auto-fit, minmax(255pt, 1fr));
    grid-auto-rows: 1fr; // this causes that all rows in grid will equals
    display: grid;
    background-color: bisque;
}

.grid-box {
    margin: 20pt;
    padding: 10pt;
    text-align: center;
    background-color: $color4;
    border-radius: 30px;
    border: 1px solid $secondary;
    transition: all 0.3s;

    .fa {
        vertical-align: middle;
    }

    &:hover {
        transform: scale(1.060);
        background-color: $primary;
    }

    .grid-box-icon {
        font-size: 4rem;
    }

  }

.grid-box-small {
    padding: 5pt;

    &:hover {
        background-color: $color3;
    }

    .grid-box-icon-small { 
        font-size: 2rem;
        padding: 0 0 10pt 10pt;
        border-bottom: 1px dashed $secondary;
        text-align: left;
        text-transform: uppercase;
    }

    .grid-box-label-small {
        font-size: 1.8rem;
    }
}

.aside {
    background-color: $color1;
    grid-area: aside;
    min-width: 100%;
    h2 {
        background-color: lighten($color: $color3, $amount: 15%);
    }

    .grid {
        @include mq($breakpoint-desktop) {
            grid-template-columns: 1fr;
        }
    }

    @include mq($breakpoint-desktop) {
        width: 20vw;
        min-height: calc(100vh - #{$footer-height} - #{$header-height});
    }

}

#menu-checkbox {
    display: none;
}